<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>
    <p><a href="/signup">新規登録</a></p>
    <p><a href="/login">ログイン</a></p>
    <p><a href="/logout">ログアウト</a></p>
</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form action="/tweet" method="POST">
    {% csrf_token %}
    <p><input type="textarea" name="content"></p>
    <p><input type="submit" value="ツイート"></p>

</form>

<table border="1px">
    <tr>
        <th>ユーザID</th>
        <th>ユーザ名</th>
        <th>ツイート</th>
    </tr>

    {%  for tweet in tweets %}
        <tr>
            <td>{{ tweet.user.id }}</td>
            <td>{{ tweet.user.username }}</td>
            <td>{{ tweet.content }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>