<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>
    <p><a href="/">トップ</a></p>
    <p><a href="/signup">新規登録</a></p>
</div>

<p>ログイン</p>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form action="/login" method="POST">
    {% csrf_token %}
    <table border="1px">
        <tr>
            <td>ユーザID</td>
            {{ form.errors.username }}
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>パスワード</td>
            {{ form.errors.password }}
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="login"></td>
        </tr>
    </table>
</form>
</body>
</html>